name := "{{artifactId}}"
organization := "{{groupId}}"
version := "{{artifactVersion}}"

scalaVersion := "2.13.5"

val Http4sVersion = "0.21.16"
val CirceVersion = "0.13.0"
val MunitVersion = "0.7.20"
val LogbackVersion = "1.2.3"
val MunitCatsEffectVersion = "0.13.0"

libraryDependencies ++= Seq(
  "ch.qos.logback"  %  "logback-classic"     % LogbackVersion,
  "io.circe"        %% "circe-generic"       % CirceVersion,
  "org.http4s"      %% "http4s-blaze-server" % Http4sVersion,
  "org.http4s"      %% "http4s-blaze-client" % Http4sVersion,
  "org.http4s"      %% "http4s-circe"        % Http4sVersion,
  "org.http4s"      %% "http4s-dsl"          % Http4sVersion
)