package {{package}}

import io.circe.generic.AutoDerivation
{{#imports}}
import {{import}}
{{/imports}}

{{#models}}
{{#model}}
/**
{{#title}} * = {{{title}}} =
 *
{{/title}}
{{#description}} * {{{description}}}
 *
{{/description}}
{{#vars}}
 * @param {{{name}}} {{#description}}{{{description}}}{{/description}}{{#example}} for example: ''{{{example}}}''{{/example}}
{{/vars}}
*/
final case class {{classname}}(
  {{#vars}}
  {{{name}}}: {{^required}}Option[{{/required}}{{datatype}}{{^required}}]{{/required}}{{^-last}},{{/-last}}
  {{/vars}}
)

object {{classname}} extends AutoDerivation

{{/model}}
{{/models}}
